@import '../../Components/Button.scss'; 

.new-ride-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #cccccc55;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 5px;

  .entries {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-around;
  }

  @include styled-button-custom-colors(#EEF4FF, #678EFE, #678EFE);
}
