
.rides-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #cccccc55;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  min-height: 100px;
  
  .list-head {
    display: flex;
    justify-content: space-between;
  }

  .list-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafab7;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
    font-size: large;
    width: fit-content;
    align-self: center;
    span {
      padding: 15px;
    }
  }
  
  ul {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0;
  
    scrollbar-width: thin;          /* "auto" or "thin"  */
    scrollbar-color: rgb(80, 102, 134) rgba(255, 166, 0, 0);   /* scroll thumb & track */
  }
  ::-webkit-scrollbar {
    width: 12px;
  }
   
  /* Track */
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
      -webkit-border-radius: 10px;
      border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(126, 204, 240, 0.8); 
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(10, 34, 65, 0.4); 
  }
}

