@function set-text-color($color){
  @if(lightness($color) > 70){
    @return black;
  } @else {
    @return white;
  }
}

@mixin styled-button-custom-colors($defaultBackgroundColor, $hoverBackgroundColor, $borderColor) {
  .styled-button {
      background-color: $defaultBackgroundColor;
      border-color: $borderColor;
    &:hover {
      background-color: $hoverBackgroundColor;
      color: set-text-color($hoverBackgroundColor);
    }
  }
}

.styled-button {
  background-color: #c2daee;
	display:inline-block;
  border-color: #7777cc;
  font-size: 14px;
  border-width: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
	cursor:pointer;
  &:hover {
    background-color: #7777cc;
    color: white;
  }
  &:active {
    transform: translateY(1px);
  }

  svg {
    margin: 0 0 0 5px;
  }
  
}
